<a href="https://colab.research.google.com/github/irenimanasvi-commits/Manasvi-160724754118-AI-b-DS/blob/main/03_02_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

a=[10,20,30]
print(type(a))

<class 'list'>

In [3]:
b=(10,20,30)
print(type(b))
c={1,2,3,4}
print(type(c))
d={"Name":"Thanmayee"}
print(type(d))

<class 'tuple'>
<class 'set'>
<class 'dict'>

In [4]:
numbers = {1, 2, 3, 4, 4, 5}
print(numbers)  # Duplicates removed automatically

# Adding elements
numbers.add(6)
print(numbers)

# Removing elements
numbers.remove(3)
print(numbers)

# Checking membership
print(2 in numbers)   # True

# Looping through a set
for num in numbers:
    print(num)

# Set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1.union(set2))        # {1,2,3,4,5}
print(set1.intersection(set2)) # {3}
print(set1.difference(set2))   # {1,2}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
True
1
2
4
5
6
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [5]:
x=10
print(type(x))
y=3.14
print(type(y))
z="hello"
print(type(z))
a=3+10j
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [6]:
a = {1, 2, 3, 4}
b = {3, 4, 5}

# Add an element
a.add(6)

# Remove an element
b.remove(5)

# Common elements
common = a & b

print("Set A:", a)
print("Set B:", b)
print("Common elements:", common)

Set A: {1, 2, 3, 4, 6}
Set B: {3, 4}
Common elements: {3, 4}